/**
 * This file contains styling for the layout and navigation bar of the application.
 */

 /* Navigation Bar Styles */

 /* Styles for the navigation bar container */
.navigator {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: #ff66a1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }
  
  /* Styles for navigation bar links */
  .navBarLink {
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    transition: background-color 0.2s ease-in-out;
    font-size: large;
    font-weight: bolder;
  }
  
  /* Styles for navigation bar links on hover */
  .navBarLink:hover {
    background-color: #ff6699;
    border-radius: 13px;
  }
  
  /* Styles for the dropdown button */
  .dropDownBtn {
    position: relative;
    display: inline-block;
    cursor: pointer
  }
  
  /* Styles for dropdown content when hovering over the dropdown button */
  .dropDownBtn:hover .dropContent {
    display: block;
  }
  
  /* Styles for dropdown content container */
  .dropContent {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 25px;
    background-color: #66e8ff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Styles for links inside the dropdown content */
  .dropContent a {
    color: #ff6699;
    font-size: 18px;
    text-decoration: none;
  }
  
  /* Styles for links inside the dropdown content on hover */
  .dropContent a:hover {
    text-decoration: underline;
  }
  
  /* Styles for the main logo link */
  .mainLogo {
    font-weight: bolder;
    font-size: x-large;
    text-decoration: none;
    color: #ffffff;
  }
  
  /* Styles for my account link inside the dropdown content on hover */
  .dropContent .myaccount:hover {
    background-color: #008CBA;
    color: white;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  /* Animation for the my account link in dropdown content */
  .dropContent .myaccount:hover {
    animation: pulse 1s ease-in-out infinite;
  }
  
  /* Keyframes animation for the my account link pulse effect */
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Transition effect for my account link in dropdown content */
  .dropContent .myaccount {
    transition: transform 0.5s ease-in-out;
  }

  /* Rotation effect for my account link in dropdown content on hover */
  .dropContent .myaccount:hover {
    transform: rotateY(180deg);
  }
  