/* Styling for the search bar input */
.searchBar {
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 20px;
  color: #090909;
  background-color: #ffffff;
  border-radius: 25px;
  outline: none;
  box-shadow: 1px 1px #cccccc;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

/* Styling for the drop-down content */
.dropContent {
  background-color: #ffffff;
  border-radius: 25px;
  position: absolute;
  z-index: 1;
  margin-top: 5px;
  width: 40%;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 1px 1px #cccccc;
}

/* Styling for each item in the drop-down content */
.dropContent > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #cccccc;
}

/* Hover effect for drop-down items */
.dropContent > div:hover {
  background-color: #f5f5f5;
}

/* Styling for the image within drop-down items */
.dropContent > div img {
  margin-right: 10px;
}

/* Styling for the first child div within drop-down items */
.dropContent > div > div:first-child {
  font-size: 20px;
  font-weight: bold;
  color: #090909;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  letter-spacing: 1px;
}

/* Styling for the last child div within drop-down items */
.dropContent > div > div:last-child {
  font-size: 20px;
  font-weight: bold;
  color: #090909;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Hover effect for the last child div within drop-down items */
.dropContent > div > div:last-child:hover {
  color: #ffffff;
  background-color: #090909;
}

/* Active effect for the last child div within drop-down items */
.dropContent > div > div:last-child:active {
  transform: translateY(1px);
  box-shadow: none;
}

/* Styling for the "Add to Cart" button */
.addToCartButton {
  background-color: #00bcd4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

/* Hover effect for the "Add to Cart" button */
.addToCartButton:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Active effect for the "Add to Cart" button */
.addToCartButton:active {
  transform: translateY(1px);
  box-shadow: none;
}

  