/* Styling for the login page */

/* Styling for the body background */
body {
    background-color: #f2f2f2;
}

/* Styling for the login box container */
.login_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 300px;
    height: 360px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
}

/* Styling for input fields */
input {
    font-size: 18px;
    border: none;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Styling for login and account buttons */
.login_btn,
.account_btn {
    background-color: #039be5;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Hover effect for login and account buttons */
.login_btn:hover,
.account_btn:hover {
    background-color: #0277bd;
}

/* Styling for the account button */
.account_btn {
    background-color: #4caf50;
}

/* Styling for the registration popup container */
.reg_popup {
    background-color: #fff;
    width: 20%;
    position: absolute;
    top: 40.7%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Styling for the close button of the registration popup */
.x_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
}

/* Styling for the registration button within the popup */
.regbtn {
    background-color: #039be5;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Hover effect for the registration button */
.regbtn:hover {
    background-color: #0277bd;
}

/* Styling for the registration button within the popup */
.regbtn {
    background-color: #4caf50;
}